.card__details {
    padding: 10px 10px 0;
    color: var(--color-light-text);
    text-align: center;
    flex: 1 0 auto;
}


.card__details--left-align {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding-left: 30px;
}
